

<mat-card>
<h3>Premissa</h3>

<p>
    Desenvolver um serviço REST para tratar as regras de negócio descritas abaixo.
</p>
<ul>
    <li>Linguagem: C#</li>
    <li>Injeção de dependência</li>
    <li>Informações devem ser persistidas em um banco de dados relacional.</li>
    <li>Submeter a resposta usando Github e enviar o link para podermos analisar o repositório.</li>
</ul>

<p>
    A utilização destas tecnologias será considerado um diferencial:
</p>
<ul>
    <li>.NET Core 3.0</li>
    <li>xUnit</li>
    <li>Entity Framework Core</li>
</ul>

<p>Serviços</p>

<ul>
    <li>Inclusão de conta a pagar</li>
    <li>Listagem das contas cadastradas</li>
</ul>

<p>Regras de Negócio</p>
<ul>
    <li>Todos os campos são obrigatórios</li>
    <li>No cadastro de contas a pagar terá que verificar se a conta está em atraso</li>
</ul>
</mat-card>

